.artist-header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 30vh;

    background-size: cover;
    background-position: 50%;

    .name {
        font-weight: bold;
        letter-spacing: 0.03em;
    }
}
