@import '../../../theme';

.page-artist-loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    .loading-message {
        color: #ffffff;
        font-weight: bold;

        margin: $spacing;
    }
}

.page-artist-container {
    padding: $spacing;

    .albums-container {
        .title-container {
        }
        .content-container {
        }
    }
}
