$avatar-normal: 17vw;
$avatar-medium: 30vw;
$avatar-big: 43vw;

// ROOT CONTAINER

.artist-avatar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding: 10px;

    height: $avatar-normal;
    width: $avatar-normal;

    /* 
        ##Device = Desktops
        ##Screen = 1281px to higher resolution desktops
    */

    @media (min-width: 1281px) {
        //CSS
    }

    /* 
        ##Device = Laptops, Desktops
        ##Screen = B/w 1025px to 1280px
    */

    @media (min-width: 1025px) and (max-width: 1280px) {
        //CSS
    }

    /* 
        ##Device = Tablets, Ipads (portrait)
        ##Screen = B/w 768px to 1024px
    */

    @media (min-width: 768px) and (max-width: 1024px) {
        height: $avatar-medium;
        width: $avatar-medium;
    }

    /* 
        ##Device = Tablets, Ipads (landscape)
        ##Screen = B/w 768px to 1024px
    */

    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
        height: $avatar-medium;
        width: $avatar-medium;
    }

    /* 
        ##Device = Low Resolution Tablets, Mobiles (Landscape)
        ##Screen = B/w 481px to 767px
    */

    @media (min-width: 481px) and (max-width: 767px) {
        height: $avatar-medium;
        width: $avatar-medium;

        padding: 5px;
    }

    /* 
        ##Device = Most of the Smartphones Mobiles (Portrait)
        ##Screen = B/w 320px to 479px
    */

    @media (min-width: 320px) and (max-width: 480px) {
        height: $avatar-big;
        width: $avatar-big;

        padding: 5px;
    }
}

// IMG

.artist-avatar-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 90%;
    height: 90%;
}

.artist-avatar-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

// AVATAR TEXT REPLACEMENT

.artist-avatar-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #1e88e5;
}

.artist-avatar-person-icon,
.artist-avatar-person-icon.override {
    font-size: 8vw;
    color: #252525;
}

// NAME

.artist-avatar-name-container {
    display: flex;
    justify-content: center;

    width: 100%;
}

.artist-avatar-name {
    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;

    min-width: 0;
    max-width: 75%;
}
