$spacing: 20px;
$spacingMedium: 15px;
$spacingMidSmall: 10px;
$spacingSmall: 5px;

$fontSizeTitle: 2vw;
$fontSizeTitleMini: 1.5vw;
$fontSizeTitleMobile: 6vw;
$fontSizeTitleMobileMini: 5vw;
$fontSizeTitleTablet: 5vw;
$fontSizeTitleTabletMini: 4vw;

$fontSizeSmall: 0.8vw;
$fontSizeSmallMobile: 4vw;
$fontSizeMiniMobile: 2vw;

$fontSizeSmallTablet: 2vw;

$marginText: 0.5vh;
